<!DOCTYPE html>
<html>
<head>
  <title>FindEyeWear</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
  <style>
    /* CSS styles go here */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('frontbg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: darken;
    }
    
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 215px;
      /* background-color: rgba(255, 255, 255, 0.8); */
    }
    
    h1 {
      color: #333;
      font-size: 75px;
      text-align: center;
      margin-top: 40px;
      padding: 4px 121px;
      font-family: "Belanosima", sans-serif;
    }
    
    p {
      color: #777;
      line-height: 1.6;
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      padding: 38px 142px;
    }
    
    .cta-button button {
        display: inline-block;
        padding: 13px 46px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
    
    .cta-button:hover {
      background-color: #555;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- <img src="logologin.png" alt="Logo" class="logo"> -->
    <h1>FindEyeWear</h1>
    <p><strong>Find your glasses from anywhere !!</strong></p>
    <!-- <a href="#" class="cta-button">SignUp</a> -->
    <a href="/registeration" class="cta-button">
        <button>SignUp</button>
    </a>
  </div>
</body>
</html>